.button {
  background-color: #e0dfdf; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  padding: 0.6rem;
  font-size: 16px;
  border-radius: 1rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(196, 194, 194);
}

.button:active {
  background-color: rgb(123, 122, 122);
  color: white;
}

.disabled {
  color: grey;
  cursor: default;
}

.disabled:hover {
  background-color: #e0dfdf;
}
