.card {
  width: 15rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08), 0 8px 20px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.card div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card img {
  width: 100%;
}

.card a {
  align-self: center;
}
