.cocktailview {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.cocktailview img {
  min-width: 100px;
  max-width: 320px;
}

.cocktailview article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  max-width: 320px;
  gap: 1rem;
}

.cocktailview ul {
  padding-left: 1rem;
}

.cocktailview a {
  text-decoration: none;
}
